<!-- Content -->
<div class="container" data-type="about">
    <div class="row">
        <!-- about Container -->
        <div class="
                col-lg-12
                col-xs-12
            ">
            <div class="about-title">
                <p><%- page.title %></p>
                <p class="about-subtitle"><%- page.subtitle %></p>
            </div>
            <div class="about-content">
                <%- page.content %>
            </div>
        </div>
    </div>
</div>