<!-- Content -->
<div class="container" data-type="about">
    <div class="row">
        <!-- about Container -->
        <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
            ">
            <h3>
                <%- page.title %>
            </h3>
            <div>
                <%- page.content %>
            </div>
        </div>
    </div>
</div>